.container {
    position: relative;
      text-align: absolute;
      margin-top: 20px;
      left: 28px;
      font-size: 20px;
    }
    
  
    * {
      margin: 0;
      padding: 0;
    }
    
    html,
    body {
      height: 100%;
      width: 100%;
    }